/* || General styles */
body {
    background-color: #EAEAEA;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #1976D2;
}

/* || Typography */
h1 {
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 3em;
    letter-spacing: 0.25em;
    margin-bottom: 0;
    margin-top: 0;
}

h2 {
    color: #1976D2;
    font-family: Georgia, 'Times New Roman', serif;
    text-shadow: 1px 1px #CCCCCC;
}

h3 {
    color: #000033;
    font-family: Georgia, 'Times New Roman', serif;
}

dt {
    color: #002171;
}

/* || Header and Main Navigation */
header {
    background-color: #002171;
    background-position: right;
    background-repeat: no-repeat;
    color: #FFFFFF;
    height: 120px;
    text-align: center;
    padding-top: 30px;
    padding-left: 3em;
}

    header a {
        text-decoration: none;
    }

        header a:link {
            color: #FFFFFF;
        }

        header a:visited {
            color: #FFFFFF;
        }

        header a:hover {
            color: #90C7E3;
        }

nav {
    font-weight: bold;
    padding: 1.5em;
    font-size: 120%;
    float: left;
    width: 160px;
}

    nav ul {
        margin: 0;
        padding-left: 0;
        font-size: 1.2em;
        list-style: none;
    }

    nav a {
        text-decoration: none;
    }

        nav a:link {
            color: #5C7FA3;
        }

        nav a:visited {
            color: #344873;
        }

        nav a:hover {
            color: #A52A2A;
        }

main {
    background: #FFFFFF;
    margin-left: 190px;
    padding: 1px 20px 20px 30px;
    display: block;
    overflow: auto;
}

    main ul {
        list-style: url(images/marker.gif);
    }

/* || Footer elements */
footer {
    background-color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 75%;
    font-style: italic;
    text-align: center;
    margin-left: 190px;
    padding: 2em;
}

/* || Unique elements */
.resort {
    color: #1976D2;
    font-weight: bold;
}

#contact {
    font-size: 90%;
}

#wrapper {
    background-color: #90C7E3;
    border: 1px solid #000033;
    background-image: linear-gradient(#FFFFFF, #90C7E3);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 3px 3px #333333;
}

#homehero {
    margin-left: 190px;
    height: 300px;
    background-image: url(../images/coast2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#yurthero {
    margin-left: 190px;
    height: 300px;
    background-image: url(../images/yurt.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#trailhero {
    margin-left: 190px;
    height: 300px;
    background-image: url(../images/trail.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

section {
    float: left;
    width: 33%;
    padding-left: 2em;
    padding-right: 2em;
}

* {
    box-sizing: border-box;
}

table {
    border: 2px solid #3399CC;
    border-collapse: collapse;
}

td, th {
    padding: 0.5em;
    border: 2px solid #3399CC;
}

td {
    text-align: center;
}

.text {
    text-align: left;
}

tr:nth-of-type(odd) {
    background-color: #F5FAFC;
}